.img-1{
	background-image: url(https://d1oco4z2z1fhwp.cloudfront.net/templates/default/7681/map__1_.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.center-1{
    text-align: center;
}